body{
    background-color: ivory;
}

h1{
    color: brown;
}

label{
    color: black;
}

.tablelayout{
    border: 1px solid black;
    margin: 5px;
    background-color:skyblue;
    border-radius: 20PX;
    width: 350px; 
    height:350px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 570px;
    margin-right: 570px;
}

.tableviewhistory{
    border: 1px solid black; 
    margin: 5px;
    background-color:skyblue;
    border-radius: 20PX;
    width: 1400px; 
    height:500px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;

}

.tableappointment{
    border: 1px solid black; 
    margin: 5px;
    background-color:skyblue;
    border-radius: 20PX;
    width: 450px; 
    height:150px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 570px;
    margin-right: 570px;
    
}

.dotted{
            border-style: dotted;
            background-color: skyblue;
        }

footer{
    background-color: black;
}